language: r
sudo: false
cache: packages

r:
  - oldrel
  - release
  - devel

warnings_are_errors: true

addons:
  apt:
    packages:
      - libnlopt-dev

r_github_packages:
  - jimhester/covr

after_success:
  - Rscript -e 'covr::codecov()'
