body {
    font-family: Tahoma, Geneva, Arial, helvetica, sans-serif;
    font-size: 10pt;
    
    margin-left: 5%;
    margin-right: 15%;
}


table {
    background-color: #BEBEBE;
    border-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #6495ED;
    
    font-family: Tahoma, Geneva, Arial, helvetica, sans-serif;
    font-size: 10pt;
}

td {
    padding: 4px;
    
    font-family: Tahoma, Geneva, Arial, helvetica, sans-serif;
    font-size: 10pt;
}

tr {
    background-color: #fff;
}

pre.sourceCode {
    background-color: #FFEFD5;
    margin-left: 2.5%
}

pre {
    background-color: #EEEEEE;
    margin-left: 5%;
}

p {
    text-indent: 2.5%;
}